.h-main{
    height: 75px;
    overflow: hidden;
}

img{
    height: 100%;
}

a{
    text-decoration: none!important;
    color: currentColor!important;
}

.logo-sm{
    display: none;
    height: 50px;
}

.h-list li:last-child{
    color: orange;
}

.pop-bell{
    display: none;
    color: orange;
}

.interface{
    height: calc(100vh - 75px);
    display: flex;
}

.i-header{
    height: 100px;
    background-color: rgba(27,114,232,255);
}

.i-body{
    height: calc(100% - 100px);
}

.i-list{
    color: white;
}

.list-item:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 999px;
    padding: 5px;
}

.i-list-menu-cover{
    display: inline-block;
    width: 25px; 
}

.i-list-menu-text{
    text-align: right;
}

.sidebar{
    width: 150px;
    background-color: rgba(10,33,56,255);
    display: flex;
    flex-direction: column;
}

.main-interface{
    width: calc(100% - 150px);
}

@media only screen and (max-width: 768px) {
    .logo{
        display: none;
    }
    
    .logo-sm{
        display: block;
    }
    
   .h-list{
        display: none!important;
    }

    .pop-bell{
        display: flex;
    }

    .sidebar{
        width: 75px;
    }
    
    .main-interface{
        width: calc(100% - 75px);
    }

    .i-list-menu-text{
        display: none;
    }

}